html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  padding: 8px;
  margin: 30px auto;
}

.title {
  font-size: 36px;
  background: #e3f4ff;
  padding: 8px 10px;
}

.content {
  background: #e3f4ff;
  font-size: 30px;
  padding: 16px 8px;
  margin: 8px 0px;
}

.button-container {
  font-size: 28px;
  background: #e3f4ff;
  text-align:center;
  padding: 8px;
}

button {
  display:block;
  font-size: 20px;
  padding: 8px 24px;
  margin:5px auto;
  background: white;
  border: 1px solid #eee;
}