body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display:flex;
  flex-flow:column;
  justify-content: space-between;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style-type: none;
  padding-bottom:16px;
}

a {
  text-decoration: none;
  color:#fff;
}

.header {
  display:flex;
  height: 72px;
  font-size: 32px;
  font-weight:900;
  background: darkmagenta;
  color: white;
  align-items: center;
  padding-left:16px;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  font-size:24px;
  flex-shrink:0;
  padding: 16px;
}

.content {
  display: flex;
  flex:1;
  align-items: stretch;
}

.card-zone {
  display: flex;
  flex-flow:column;
  align-items: center;
  }

.card-card {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex:1;
  padding: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  margin:16px;
  padding: 16px;
  width:300px;
}