body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display:flex;
  flex-flow:column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:#fff;
}

.header {
  display:flex;
  height: 72px;
  font-size: 24px;
  background: darkmagenta;
  color: white;
  align-items: center;
  padding-left:10px;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex:1;
}

.card-zone {
  display:flex;
  flex-flow: column wrap;
  gap:16px;

}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}